.login {
    background-image: url('../../asset/images/bus.svg');
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
}

.form {
    width: 30%;
    height: 50%;
    background-color: rgba(255, 255, 255, 00.3);
    border: 2px solid #2b9ddf;
    padding: 1rem 2rem 2rem 2rem;
    border-radius: 5px;
    position: relative;
    top: 30%;
    left: 35%;
    color: #015c92;
    backdrop-filter: blur(2px);
}

.form h2 {
    color: #08273a;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1em;
}

.form input {
    width: 100%;
    color: #031723;
    background-color: rgba(255, 255, 255, 0);
    margin-bottom: 1rem;
    border-bottom: 1px solid #08273a;
}

.form input::placeholder {
    color: #0d2a3c;
}

.form input:focus::placeholder {
    color: #031723;
    font-size: larger;
}


.form input:focus {
    outline: none;
    border-bottom: 2px solid #2b9ddf;

}

.form .submitbtn {
    width: 30%;
    text-align: center;
    background-color: #2b9ddf;
    border: none;
    border-radius: 0.5rem;
    padding: 0.4em;
    color: aliceblue;
}

.form .submitbtn:hover {
    background-color: #015c92;
    cursor: pointer;
    color: white;
}

.oops {
    position: inherit;
    top: 0;
    left: 0;
    margin: 1rem;
    width: 18%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #2b9ddf;
}

.oops h1 {
    font-family: 'Francois One', sans-serif;
}